/* Navbar styles */
.navbar {
  margin-top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Default style for nav items */
.navbar .nav-item {
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

/* Indicator line before text */
.navbar .nav-item .nav-indicator {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 50px;
  background-color: #2f3b4a;
  transition: width 0.3s ease, background-color 0.3s ease;
}

/* Hover effect */
.navbar .nav-item:hover .nav-indicator,
.navbar .nav-item.active .nav-indicator {  /* Active section effect */
  width: 100px;
  background-color: #3498db;
}

.navbar .nav-item:hover a,
.navbar .nav-item.active a {  /* Active section text effect */
  color: white;
  transform: translateX(50px);
}

.navbar .nav-item a {
  text-decoration: none;
  color: #2f3b4a;
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, color 0.3s ease;
}
